.chatList__container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    flex: 1;
    max-width: 100%;
}
.chatsList{
    display: flex;
    align-items: center;
    max-height: 70px;
    border-bottom:1px solid lightgray;
    padding: 2vh 0px;
    max-width: 100%;
}
.chatsList:hover{
    background-color: lightgray;
    cursor: pointer;
}
.profile_pic{
    height: 55px;
    width:55px;
    border-radius: 50px;
    margin-right: 15px;
    margin-left: 10px;
}
.lastmassage {
    color: rgb(39, 38, 38);
    word-wrap: break-word;
    max-width: 200px;
}
.chat_texts{
    display: flex;
    justify-content: space-between;
    flex: 1;
}
.time{
    margin-right: 1.4vw;
    font-size: 12px;
}
.selected {
    background-color: rgba(211, 211, 211, 0.829);
}
